{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman',Times,serif;
    font-size:100px;

}
body{
    background-color: rgb(225, 0, 255);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.input-container{
    width:100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}
.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    

}.input-container input[type="text"]{
    width: 70%;
}
.input-container input[type="button"]{
    background-color:rgb(135, 227, 250);
    color: rgb(0, 204, 255);
    font-weight: bold;

    cursor:pointer
    padding:12px 24px;
}
.input-container input[type="button"]:hover{
    background-color: rgb(0, 217, 255);
    


}
ul{
    width: 100%;
    max-width: 400px;
    
}
ul li{
    list-style-type: none;
    cursor: pointer;
    border-radius: 8px;
    margin-block: 12px;
    border: 0.125px solid whitesmoke;
    padding:6px 12px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition:background-color 0.5s;
}
ul li:hover{
    background-color: rgb(0, 255, 255);
}
ul li p{
    flex-grow:1;
    padding:2px;

}
.btn{
    border: none;
    outline: none;
    font-size: 16px;
    background:none;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
}
.deleteBtn{
    color: rgb(0, 89, 255);
}
.editBtn{
    color:rgb(42, 140, 165)
}